<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="css/forlk.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'test1/img/logosite.jpg' %}">
    <title>Personal Account - CRYAT</title>
</head>
<body>

    <div class="main">
        <div class="footer">
            <div class="left">

                <a href="{% url 'main' %}"><img src="css/img/logo.png"></a>
            </div>
            <div class="right">
                <a href=""><img src="{% static 'test1/img/chat.png' %}"></a>
                <a href=""><img src="{% static 'test1/img/logout.png' %}"></a>
            </div>
        </div>

        <div class="main_info">

            <div class="lefter">
                <h1>sup, nickname</h1>

                <div class="chet1">
                    <h2>99 999 ₽</h2>
                    <p>RUB</p>
                </div>

                <div class="chet1">
                    <h2>999 $</h2>
                    <p>USD</p>
                </div>

                <div class="chet1">
                    <h2>99 999 ₽</h2>
                    <p>Savings account RUB</p>
                </div>

                <div class="chet1">
                    <h2>99 999 $</h2>
                    <p>Savings account USD</p>
                </div>
            </div>

            <div class="righter">
                <div class="analiz"></div>
            </div>



        </div>
    </div>
</body>
</html>